name: Mirror and run GitLab CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Mirror + trigger CI
      uses: SvanBoxel/gitlab-mirror-and-ci-action@master
      with:
        args: "https://gitlab.com/shanmiteko/LotteryAutoScript"
      env:
        GITLAB_HOSTNAME: "gitlab.com"
        GITLAB_USERNAME: "shanmiteko"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
        GITLAB_PROJECT_ID: "36365601"
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}